[submodule "llvm"]
	path = llvm
	url = git@github.com:llvm/llvm-project.git

[submodule "mlir-aie"]
	path = mlir-aie
	url = git@github.com:Xilinx/mlir-aie.git

[submodule "phism"]
	path = phism
	url = git@github.com:kumasento/phism.git

[submodule "cmakeModules"]
	path = cmakeModules
	url = git@github.com:Xilinx/cmakeModules.git
