[submodule "circt"]
	path = circt
	url = git@github.com:hanchenye/circt.git

[submodule "mlir-aie"]
	path = mlir-aie
	url = git@github.com:hanchenye/mlir-aie.git

[submodule "cmakeModules"]
	path = cmakeModules
	url = git@github.com:Xilinx/cmakeModules.git
